.container{
    width: 60%;
    height: auto;
    border: 3px solid black;
    margin:20px auto;
    padding: 10px;
}
.green{
    width: 100%;
    height: 55px;
    background-color: rgb(41, 184, 41); 
       
}
.child_container{
    width: 100%;
    height: auto;
    display: flex;
    margin: 10px 0;
}
.child_container > .red{
    width: 50%;
    height: 300px;
    background-color: red;
    margin-right: 5px;
}
.child_container > .four_boxes{
    width: 50%;
    height: 300px;
    margin-left: 5px;
    /* row-gap: 10px;
    column-gap: 10px; */
    /* border: 1px solid black; */
    /* background: blue; */
}
.child_container > .four_boxes > .yellow_red{
    /* background-color: rgb(225, 121, 16); */
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}
.yellow_red > .yellow{
    width: 50%;
    height: 97%;
    background-color: rgb(41, 41, 223);
}
.yellow_red > .small_red{
    width: 50%;
    height: 97%;
    background-color: red;
}
.child_container > .four_boxes > .blue_gray{
    /* background-color: rgb(62, 89, 111); */
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.blue_gray > .blue{
    width: 50%;
    height: 97%;
    background-color: rgb(245, 245, 7);
}
.blue_gray > .small_gray{
    width: 50%;
    height: 97%;
    background-color: black;
}

.green_blue{
    width: 100%;
    height: 60px;
    display: flex;
    /* background-color: rgb(74, 107, 78); */
}
.green_blue > .long_green{
    width: 80%;
    height: 100%;
    background-color: rgb(24, 182, 24);
    margin-right: 5px;
}
.green_blue > .small_blue{
    width: 20%;
    height: 100%;
    background-color: rgb(34, 34, 232);
    margin-left: 5px;
}
.gray{
    width: 100%;
    background-color: black;
    height: 60px;
    margin-top: 10px;
}
