.container{
    width: 40%;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    margin: 20px auto;
    padding: 20px 0 10px;
}
.red{
    background-color: red;
    width: 60%;
    height: 40%;
    margin: 40px auto;
    border:1px black solid;
}
.blue{
    position: absolute;
    left: 225px;
    right: 221px;
    bottom: 364px;
    background-color: blue;
    width: 15%;
    height: 25%;
    margin: 90px auto;
    border: 1px black solid;
}
.yellow{
    position:relative;
    background-color: yellow;
    width: 50%;
    height: 30%;
    margin: 40px auto;
    border: 1px black solid;
}

